(
    palette_spec: (
        assets: (
            material_arrays: {
                1: "grass_rock_snow_dirt",
            },
        ),
        infos: [
            // Empty
            (
                flags: (
                    is_floor: false,
                    is_empty: true,
                ),
                material_index: (0),
            ),
            // Solid 1
            (
                flags: (
                    is_floor: true,
                    is_empty: false,
                ),
                material_index: (0),
            ),
            // Solid 2
            (
                flags: (
                    is_floor: true,
                    is_empty: false,
                ),
                material_index: (1),
            ),
            // Solid 3
            (
                flags: (
                    is_floor: true,
                    is_empty: false,
                ),
                material_index: (2),
            ),
            // Solid 4
            (
                flags: (
                    is_floor: true,
                    is_empty: false,
                ),
                material_index: (3),
            ),
        ],
    ),
    voxels_file_path: None,
)
