#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: (
                albedo: File("material_arrays/grass_rock_snow_dirt/albedo.png", ("IMAGE", (
                    kind: D2Array(layers: 4),
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Nearest,
                        mag_filter: Nearest,
                        mip_filter: Nearest,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
                ambient_occlusion: File("material_arrays/grass_rock_snow_dirt/ao.png", ("IMAGE", (
                    kind: D2Array(layers: 4),
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Nearest,
                        mag_filter: Nearest,
                        mip_filter: Nearest,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
                metallic_roughness: File("material_arrays/grass_rock_snow_dirt/metal_rough.png", ("IMAGE", (
                    kind: D2Array(layers: 4),
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Nearest,
                        mag_filter: Nearest,
                        mip_filter: Nearest,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
                normal: File("material_arrays/grass_rock_snow_dirt/normal.png", ("IMAGE", (
                    kind: D2Array(layers: 4),
                    repr: Unorm,
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Nearest,
                        mag_filter: Nearest,
                        mip_filter: Nearest,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
            )
        )
    ],
)