#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: (
                albedo: File("material_arrays/blend1/albedo.png", ("IMAGE", (
                    kind: D2Array(layers: 2),
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Linear,
                        mag_filter: Linear,
                        mip_filter: Linear,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
                // ambient_occlusion: File("material_arrays/blend1/ao.png", ("IMAGE", (
                //     kind: D2Array(layers: 2),
                //     generate_mips: true,
                //     sampler_info: (
                //         min_filter: Linear,
                //         mag_filter: Linear,
                //         mip_filter: Linear,
                //         wrap_mode: (Tile, Tile, Tile),
                //         lod_bias: (0),
                //         lod_range: (
                //             start: ( 0 ),
                //             end: ( 8000 ),
                //         ),
                //         comparison: None,
                //         border: (0),
                //         normalized: true,
                //         anisotropic: Off,
                //     ),
                // ))),
                metallic_roughness: File("material_arrays/blend1/metal_rough.png", ("IMAGE", (
                    kind: D2Array(layers: 2),
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Linear,
                        mag_filter: Linear,
                        mip_filter: Linear,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
                normal: File("material_arrays/blend1/normal.png", ("IMAGE", (
                    kind: D2Array(layers: 2),
                    repr: Unorm,
                    generate_mips: true,
                    sampler_info: (
                        min_filter: Linear,
                        mag_filter: Linear,
                        mip_filter: Linear,
                        wrap_mode: (Tile, Tile, Tile),
                        lod_bias: (0),
                        lod_range: (
                            start: ( 0 ),
                            end: ( 8000 ),
                        ),
                        comparison: None,
                        border: (0),
                        normalized: true,
                        anisotropic: Off,
                    ),
                ))),
            )
        )
    ],
)